{% if d.peerlink_member_list %}
      peerlink:
        bond:
          member:
{% for swp in d.peerlink_member_list %}
            {{ swp }}: {}
{% endfor %}
{% if d.bridge_vlan_selectors %}
        bridge:
          domain:
            br_default:
              vlan:
{% for selector in d.bridge_vlan_selectors %}
                '{{ selector }}': {}
{% endfor %}
{% endif %}
        type: peerlink
      peerlink.4094:
        base-interface: peerlink
        type: sub
        vlan: 4094
{% endif %}
